.slidesjs-pagination-item,
.slidesjs-play, .slidesjs-stop {
  display: none;
}

.slidesjs-next:hover,
.slidesjs-previous:hover {
  opacity: 1;
}

@media screen and (min-width: 540px) {
  body {
    background: wheat;
    font-family: 'Cabin Condensed', sans-serif;
  }

  header {
    margin: 3% 5% 2% 5%;
    background: #D2691E;
    height: 50px;
    padding-left: 10%;
    border-radius: 10px;
  }

  header span {
    padding: 0 3% 0 3%;
    border-bottom: 2px solid red;
  }

  #slides {
    margin: 0 12%;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 1% 3% 1% 3%;
    opacity: .6;
    transition: all 1s linear;
  }

  header a:hover {
    background: #99CCCC;
    border-radius: 10px;
    opacity: 1;
  }

  p {
    vertical-align: middle;
    padding-top: 15px;
  }

  .mobileimg {
    display: none;
  }

  .desktopimg {
    width: 30%;
    border-radius: 10px;
    display: inline-block;
    margin-top: 2%;
    vertical-align: top;
    margin-left: 18%;
  }

  /*	.bigimage{
  		height: 600px;
  		background-image: url('Germany-vs-Argentina.jpg');
  		background-position: center center;
  		background-size: 100%;
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		border-radius: 10px;
  		position: relative;
  	}*/
  .soccer, .wc {
    max-width: 95%;
    display: inline-block;
    margin-top: 2%;
    border-radius: 10px;
    padding: 3%;
    vertical-align: top;
  }

  .soccer {
    background: #FF6633;
  }

  .wc {
    background: #9999FF;
  }

  .soccer span, .wc span {
    display: block;
    text-align: center;
    padding-bottom: 2%;
    font-size: 18px;
  }

  .textimg {
    width: 50%;
    position: relative;
    border-radius: 10px;
    float: right;
    margin: 2%;
  }

  .players {
    /*background: #9999FF;*/
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
  }

  .thibaut {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .james {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .phillipp {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .paul {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .neymar {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .zlatan {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .luis {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .arjen {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .ronaldo {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .messi {
    max-width: 35%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
  }

  .thibaut span, .james span,
  .phillipp span, .paul span,
  .neymar span, .zlatan span,
  .luis span, .arjen span,
  .ronaldo span, .messi span {
    width: 50%;
    display: block;
    vertical-align: top;
    padding: 3%;
    font-size: 18px;
  }

  .pure-u-1 {
    width: 50% !important;
  }
}
@media screen and (max-width: 540px) {
  body {
    background: tan;
    font-family: 'Cabin Condensed', sans-serif;
  }

  header {
    margin: 5%;
    background: #D2691E;
    border-radius: 10px;
  }

  header p {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .slidesjs-next, .slidesjs-previous {
    text-decoration: none;
    color: black;
    padding: 1% 3% 1% 3%;
    opacity: .6;
    transition: all 1s linear;
  }

  header a {
    display: block;
    padding-top: 1%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition: all 1s linear;
  }

  header a:hover {
    color: black;
  }

  header span {
    font-size: 20px;
    padding: 3% 10% 1% 10%;
    border-radius: 10px;
  }

  .mobileimg {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
  }

  .players {
    background: chocolate;
  }

  .soccer, .wc {
    margin: 5%;
    border-radius: 10px;
    padding: 5%;
  }

  .players, .thibaut, .james,
  .phillipp, .paul, .neymar,
  .zlatan, .luis, .arjen,
  .ronaldo, .messi {
    margin: 5%;
    border-radius: 10px;
    /*background: #D2691E;*/
    padding: 5%;
  }

  .soccer span, .wc span, .thibaut span,
  .james span, .phillipp span, .paul span, .neymar span,
  .zlatan span, .luis span,
  .arjen span, .ronaldo span,
  .messi span {
    display: block;
    text-align: center;
    font-size: 18px;
  }

  .desktopimg {
    display: none;
  }

  .bigimage {
    display: none;
  }

  .textimg {
    display: none;
  }
}
